<app-header></app-header>

<div class="faq faq-en" >
	<h2 class="fontweight200">Frequently</h2>
    <h2><strong>Asked Questions</strong></h2>
	<div class="questions">
			<div class="accordian-block" *ngFor="let obj of arrFaq;index as i">
				<div>
					<a href="#List-{{ i }}"   data-toggle="collapse"><p class="ac-title">{{obj?.question}}</p></a>
				</div>
  		<div class="accordian-para acc-show" id="List-{{ i }}" class="collapse">
      <p  class="commn-para-sm"> {{obj?.answer}}</p>
  </div>
	</div>
	</div>

</div>

<app-footer></app-footer>
