.faq{

	background-color: #272a67;
/*	height: 100%;*/
	min-height: -webkit-fit-content;
	width: 82%;
    color: #fff;
    text-align: start;
		margin: 0 auto;
		margin-bottom: 50px;

}
.faq-en{
	left: 55px;
	padding: 30px 45px 20px 45px;
}

.fontweight200{
	font-weight: 400;
}


.accordian-block {
    padding: 0px 0;
    /* border: 1px solid #fff; */
    margin: 0 0 30px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.03);

}
.ac-title {
    position: relative;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
		text-decoration: none;
		font-weight: bold;
		color: #14772a;
		padding-left: 51px;
		padding-top: 15px;
		padding-bottom: 15px;

}

a { text-decoration: none;}

.ac-title p {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    color: #14772a;
    margin: 0;
    padding: 10px 32px 10px 51px;
    border-radius: 0;

}
.accordian-para {
    display: none;
    border-top: none;
    margin: 0px 0 0 0;
    transition: all 0.15s ease;
}
.commn-para-sm {
    font-size: 14px;
    color: #272a67;
   	padding: 0px 51px 20px 51px;
    margin: 0 0 15px;
}
.ac-title.acc-active p {
    color: #014084 !important;
}
.ac-title.acc-active  {
    background-color: #f7de02;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.plus-icon {
   /* background-image: url(faq-plus.svg);*/
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    z-index: 99;
   /* transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;*/
    background-repeat: no-repeat;
}
.cross-icon {
    /*background-image: url(substract.svg);*/
    /* transform: rotate(60deg); */
}



.questions{
	margin-top: 65px;
}


.commn-para-smtop{
    padding: 10px 20px 0px 50px;
}
.commn-para-smmid{
    padding: 0px 20px 0px 50px;
}
.commn-para-smbott{
    padding: 0px 20px 10px 50px;
}


.startyellow{
	text-align: start;
	margin-top: 40px;

}
.endyellow{
	text-align: end;
	margin-top: 40px;

}
.coloryellow{
	color: #f7de02;
	text-decoration: underline;
}







/* -------------------------------- arabic -----------------------------*/

.faq-ar{
	right: 55px;
	padding: 30px 45px 20px 45px;
}








/* -------------------- media ----------------------*/


@media screen and (max-width: 1450px) {
	.faq {
    	width: 81%;
    }


}
@media screen and (max-width: 1365px) {
	.faq {
    	width: 80%;
    }


}
@media screen and (max-width: 1300px) {
	.faq {
    	width: 79%;
    }


}
@media screen and (max-width: 1260px) {
	.faq {
    	width: 78%;
    }


}
@media screen and (max-width: 1110px) {
	.faq {
    	width: 77%;
    }


}
@media screen and (max-width: 1024px) {
	.faq {
    	width: 76%;
    }


}
@media screen and (max-width: 980px) {
	.faq {
    	width: 75%;
    }


}
@media screen and (max-width: 870px) {
	.faq {
    	width: 74%;
    }


}
@media screen and (max-width: 820px) {
	.faq {
    	width: 73%;
    }
    .ac-title p {
	    font-size: 14px;

	}

	.commn-para-sm {
	    font-size: 13px;

	}

}
@media screen and (max-width: 800px) {
	.faq {
    	width: 71%;
    }


}
@media screen and (max-width: 780px) {
	.faq {
    	width: 70%;
    }


}
@media screen and (max-width: 686px) {
	.faq {
    	width: 100%;
    	left: 0;
    	margin-top: 67px;
    }
    .faq h2{
	    font-size: 25px;
    }
    .questions{
	    margin-top: 40px;
	}


}

@media screen and (max-width: 580px) {

	.startyellow{
		text-align: center;
		margin-top: 0px;

	}
	.endyellow{
		text-align: center;

	}
}
