<header>


<div class="row logo-cont">

<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">

</div>

 <div id="logo" class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10">

  <div class="container-fluid">

    <a class="navbar-brand" routerLink=""><img src="assets/images/logo.png" class="logoimg"></a>

  </div>

</div>

<div  id="login" class="col-xl-5 col-lg-5 col-md-10 col-sm-10 col-xs-10">

 <div class="container-login">

  <div *ngIf="!user" class="login-green-background">
    <a id="signupAnchor" class="navbar-register cursor-pointer" data-toggle="modal" data-target="#signup"><img class="register-img" src="assets/images/register.svg"  height="14px"/>REGISTER</a>
    <div class="navbar-separator"><img src="assets/images/line.png" height="20px"/></div>
    <a class="navbar-login cursor-pointer" data-toggle="modal" data-target="#loginpop"><img class="login-img" src="assets/images/login.svg"  height="14px"/>LOGIN</a>
  </div>

  <div *ngIf="user" class="login-green-background">
    <a class="navbar-register cursor-pointer" (click)="logout()"><img class="register-img" src="assets/images/logout.svg"  height="14px"/>LOG OUT</a>
    <div class="navbar-separator"><img src="assets/images/line.png" height="20px"/></div>
    <a class="navbar-username  cursor-pointer" ><img class="login-img" src="assets/images/account.svg"  height="14px"/>{{user?.name | slice:0:20}}</a>
  </div>

<a style="display : none;" id="submission" class="navbar-register cursor-pointer" data-toggle="modal" data-target="#submissionpopup"><img class="register-img" src="assets/images/register.svg"  height="14px"/>popup</a>
 </div>

</div>

<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">

</div>

</div>

</header>

<app-signup></app-signup>
<app-login></app-login>
<app-popupsubmit></app-popupsubmit>
<app-popupresetpw></app-popupresetpw>
