.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}
.cursor-pointer{
  cursor: pointer;
}
.navbar-brand .col-sm {

  margin-left: 1rem;

}

.navbar-brand .col-xs {

  margin-left: 1rem;

}

#logo.col-sm {

  float: none;
  display: block;
  margin: 0 auto;

}
.logoimg{
  width: auto;
  height: 60px;
}

#logo.col-xs {

  float: none;
  display: block;
  margin: 0 auto;

}

.logo-cont {margin-top: 28px; margin-bottom: 50px; margin-left:0;margin-right: 0;}

.login-green-background { background: #14772a;

width: auto;

height: 40px;

color: white;

float: right;

}

.navbar-login {     width: 117px; padding-top: 8px; font-weight: bold; float: left; padding-left: 33px;}
.navbar-username { width: auto; padding-top: 8px; font-weight: bold; float: left;

padding-left: 40px;}


.navbar-register { width: 120px; padding-top: 8px; font-weight: bold; float: right;

padding-right: 20px; margin-right: 5px;}

.register-img {

float: left;
margin-top: 4px;
margin-right: 5px;

}

.login-img {

  float: left;
  margin-top: 4px;
  margin-right: 5px;

}

.navbar-separator { padding-left: 17px;

width: 1px;

float: right;

padding-top: 7px;

padding-right: 42px;

}

.container-login { padding-top: 14px;}

.navbar-cont { margin-top: 30px; }

.language { float:right; color: #eaeaea !important; }

.language a {color: #eaeaea !important; font-weight: bold;}

.menu-items-container { padding-top: 0px; padding-bottom: 0px;}

.mainMenuItem {
  height: 45px;
  padding-right: 20px;
  padding-left: 20px;
}


.mainMenuItem a {color: #eaeaea; font-weight: bold;}

.mainMenuItem :hover {color: #eaeaea; font-weight: bold;}

.social { padding-top: 12px !important; color: #eaeaea; text-decoration: none;

  height: 50px;
  margin: 0 auto;

}

.social:hover { color: #fff; }

.blue-bg {background-color: #002f6c;}

.navbar-nav .dropdown-menu {
    background: #002f6c !important;
}

.navbar-social {
    width: 240px;
    float: right;
}

.dropdown-item:hover {

  color : #002f6c !important;

}

.dropdown-toggle { color :  #eaeaea !important;}


.active { border-bottom: 3px solid #eaeaea; height: 55px; color : #eaeaea !important;}

.active .col-sm { border-bottom: none; height: 55px;}


.cool-link { display:inline-block; margin-bottom: 0px; }

.cool-link:after {
  display:block;
  content: '';
  border-bottom: 3px solid #fff;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.cool-link:hover:after { transform: scaleX(1); }

.cool-link.fromRight:after{ transform-origin:100% 50%; }

.cool-link.fromLeft:after{  transform-origin:  0% 50%; }

.nav-link { padding-bottom: 20px; }

.less-padding { padding-left: 10px !important; padding-right: 10px !important;}

.liner { padding-left: 20px;}





/* ---------- media --------- */
@media (max-width: 992px) {
  .login-green-background {
    float: left;
    font-size: 14px;
    margin-left: 13px;
  }
}


@media (max-width: 767px) {

  .nav-link:hover{ border-bottom: none;}

  .active{ border-bottom: none; height: 55px;}

  .liner { display: none;}

}
.logoimg{
  width: auto;
  height: 60px;
}
@media screen and (max-width: 500px) {

  .navbar-separator {
    padding-left: 16px;
    width: 1px;
    float: right;
    padding-top: 8px;
    padding-right: 17px;
  }
  .logoimg{
  width: 230px;
  height: 50px;
}
  .navbar-register {
    width: 105px;
    padding-top: 8px;
    font-weight: bold;
    float: right;
    padding-right: 13px;
    margin-right: 5px;
  }
  .navbar-username {
    width: auto;
    padding-top: 8px;
    font-weight: bold;
    float: left;
    padding-left: 16px;
  }


}

@media screen and (max-width: 300px) {
    .logoimg{
  width: 200px;
  height: 60px;
}
}
