.modal-header{
  border: none;
}
.modal-body{
  padding: 0;
}

.modal-content{
  border-radius: 0;
  border: 0 !important;
  background-color: transparent;
}
    .button{
      background-color: #002f6c;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;}

    .smicon{
  color: #002f6c; 
  font-size:17px;
  padding-right: 2px;
    }
    

.mail{
   background-color: #eaeaea;
    border: none;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    border-radius: 0px;
    cursor: pointer;
    width: 90%;}
.cursorpointer{
  cursor: pointer;
}

#signinBtn { background:  #002f6c; width: 100%; height: 30px; color: white; border: none; margin-top: 30px; }

.email-field { margin-top: 75px; }

.id-number { margin-top: 15px;}

.signoutimg{
  width: 112px;
  margin-bottom: 16px;
}
.center{
  text-align: center;
  color: #777777;
  padding: 7px 25px 0 25px;
  line-height: 2.5;
}
.modal-footer{
  border: none;
}
button:focus {
  outline:none !important;
}
.colorblue{
  color: #002f6c;
}
.close{
  font-size: 22px;
  opacity: 1;
}

.align-start{
  text-align: start;
}
.box{
  margin-top: 15px;
}
.acolorgrey{
  color: #777;
  text-decoration: underline;
}
.boxpadding{
  padding: 15px 30px 0 50px;
  background-color: #fff;
  color: #777777;
  font-size: 10px;
  line-height: 1;
}
.doneimg{
  width: 19px;
}
.center::ng-deep.mat-button {
  margin: 20px 0 10px 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.boxdetails{
  background: #fff;
  border: 1px solid #dedede;
  padding: 6px 2px 7px 2px;
  font-size: 12px;
  margin-bottom: 25px;
}
.boxdetailspadding{
  margin-bottom: 8px;
}

.boxdetails input{
  background: transparent;
  border: none;
  width: 75%;
  font-size: 10px;
}
input:focus {
    outline:none !important;
}
.boxdetailsimg{
  margin: 0 5px 0 5px;
  width: 14px;
  padding: 0 0 0px 0px;
}

.boxdetails::ng-deep.mat-icon{
  font-size: 18px;
  color: #777;
  height: 18px;
  width: 21px;
  vertical-align: middle;
}

.popupimg{
  width: 100%;
  height: 100%;
}

.forgetpass{
  text-align: end;
  color: #1da1f2;
  font-size: 9px;
  font-weight: 900;
}
.signinbutt::ng-deep.mat-raised-button {
  background-color: #1da1f2;
  color: #fff;
  width: 100%;
  border-radius: 0;
  margin-top: 14px;
  margin-bottom: 12px;
  line-height: 28px;
  font-size: 10px;
  font-weight: 800;
}



.orline p{
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.orline p.background {
  position: relative;
  z-index: 1;
}
.orline p.background:before {
  border-top: 1px solid #ededed;
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.orline p.background span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: #fff;
  padding: 0 15px;
}

.doneimg{
  width: 15px;
  margin: 0 3px 0 3px;
}
.facebookbutt::ng-deep.mat-raised-button {
  background-color: #465892;
  color: #fff;
  width: 100%;
  border-radius: 0;
  margin-top: 3px;
  margin-bottom: 46px;
  line-height: 28px;
  font-size: 9px;
  font-weight: 800;
}
.signupgrey{
  font-size: 10px;
  text-align: center;
  color: #777777;
}
.paggingimg{
  background-image: url(/../assets/images/popup.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

}


.forgot-password { width: 110px; float: right; margin-top: 30px; }

@media (min-width: 576px){
  .modal-dialog {
    max-width: 500px;

  }
}


@media screen and (max-width: 769px) {
  .paggingimg{
    display: none;
  }
}
