<!-- The Modal -->
<div  id="resetpwpopup" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 boxpadding">
                  			<div class="row" style="float: right;margin-top: 5px">
                  				<button type="button" id="closerX20" class="close"  data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                  			</div>
                  			<div class="row" >
                  				<div class="col-12" style="margin-top: 70px;">
          		               <P style="color:#002f6c; font-weight: bolder;font-family: 'Proxima-Nova-EXBold'; font-size: 30px;">RESET PASSWORD</P>	
								          </div>
							           </div>
                         <div class="row" >
                          <div class="col-12" style="margin-top: -10px;" >
                             <P style="color:#afaeae;font-family:'Proxima-Nova-EXBold';font-size: 20px">Submit your email address to reset password</P>  
                          </div>
                         </div>
                         <div class="row">
                           <div class="col-12" style="text-align: center; margin-top: 100px;">
                            <div style="background-color:#eaeaea">
                            <i class="fa fa-envelope smicon" aria-hidden="true"></i>
                            <input type="text" class="mail" name="text" placeholder="Email Address">
                           </div>
                           </div>
                         </div>
                         <div class="row">
                           <div class="col-12">
                             <button class="button " style="margin-top: 40px;margin-bottom:200px;">SUBMIT</button>
                           </div>
                         </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
