.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

p { text-align: justify;}

.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/images/header-2.jpg) no-repeat;
background-size:cover;
background-position:center;
width: 100%;
height:400px;
margin-right: 0px !important;
margin-left: 0px !important;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #fff; margin-top : 0px; font-weight: bold; }
.top-text-p { font-family: Proxima-Nova-Bold !important; color: #fff; margin-top : 120px; font-weight: bold; }

.btn-full {
position: absolute;
left: 0;
margin-top: 25px;
margin-left: 15px;
background: transparent;
border: 1px solid white;
padding: 10px;
color: white;
width: 150px;
text-align: -webkit-center;
}
.btn-full:hover {
  background: #fff;
  color: #14772a;
}

.announcement1 {

  margin-bottom: 50px;

}
.dash { width: 75px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;
    margin-right: 10px;
}

.blue-text-header { color: #002f6c;font-family: KHAND-BOLD; font-weight: bold; }

#announcement-section { margin-top: 100px;  }

.announcement {
  padding: 0 0 50px 0px;
  margin-bottom: 50px;


}

.section-header { background-color: #002f6c; height: 75px; color: white; padding: 20px 25px 0 25px;}
.section-textt{
  padding: 20px 25px 1px 25px;
}

.section-header h2 { font-weight: bold; }

.point { float: left; margin-right: 10px; margin-top: 5px;
margin-right: 5px;
margin-bottom: 20px;}

.point-list { margin-left: 40px; list-style: none; }

.point-list::before {
  content: "\2022";
  color: #14772a;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  margin-left: -1em;
}

.green-text { color: #14772a; margin-top: 20px; margin-left: 30px;}

.apply-now { background: #14772a; width: 300px; margin-bottom: 40px; border: none; height: 50px; color: white; font-size: 15px; text-align: -webkit-center;}

.apply-now-cont { width: 300px; margin: 0 auto; }

.overlayimg{
  background-color: #00000061;
  position: absolute;
  width: 100%;
  height: 400px
}
.colordarkgery{
  color: #353535;
}
.boxshadow{
  -moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  background: #f7f7f7;
  color: #353535;
}
.boxshadow h3{
  font-family: 'Proxima-Nova-EXBold';
  font-size: 27px;
}
.arrowwhite{
  width: 19px;

}



/* ----------------- shimmer ----------------*/
.card-container {
  position: relative;
}
.card-container .card {
  border: none;
  background: transparent;
}
/*.card-container .card:nth-child(2) {
  top: 160px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.card-container .card:nth-child(1) {
  top: 180px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}*/
.card-container .card .shimmerBG {

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #dde9eb;
  background: linear-gradient(to right, #dde9eb 4%, #bbc6c7 35%, #dde9eb 36%);
  background-size: 1200px 100%;

}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.card-container .media {
  height: 283px;
  border-radius: 5px;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.card-container .p-32 {
  /*padding: 32px;*/
}
.card-container .title-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
      height: 23px;
    width: 94%;
    margin: 15px 0px 23px 0;
    border-radius: 0px;
}
.card-container .content-line {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  height: 16px;
  width: 100%;
  margin: 15px 0px 5px 0;
  border-radius: 0px;
}
.card-container .end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}




/* ----------------- shimmer ----------------*/

/* ------ spinner --------*/
.donut {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 0.3rem solid rgba(151, 159, 208, 0.3);
  border-top-color: #fff;
  -webkit-animation: 1.5s spin infinite linear;
  animation: 1.5s spin infinite linear;
}


@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/* ------ spinner --------*/

/* ------------ media  ------------ */
@media screen and (max-width: 991px) {
  .boxshadow h3{
    font-size: 22px;
  }
  .section-header {
    height: 81px;
  }

}

@media screen and (max-width: 500px) {
  h1{
    font-size: 33px !important;
  }
  .section-header {
    height: auto;
    padding: 20px 25px 3px 25px;
  }
  .section-textt p{
    text-align: left;
  }

  .top-text-p{
    margin-top: 80px;
  }
}

.buttonfixed {
   background-color: #14772a;
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 15px;
   height: 70px;
   border-radius: 50%;
   cursor: pointer;
   width: 70px;
   position: fixed;
   right: 25px;
   bottom: 25px;
   box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   z-index: 999;


}

.animation{

   -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;

}

.questionmark{
  width: 70%;
  font-size: 23px;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {bottom: -200px;}
  to {bottom: 25px;}
}

@keyframes mymove {
  from {bottom: -200px;}
  to {bottom: 25px;}
}
