<app-header></app-header>

<!-- Header Picture -->

<div class="row up top-pic">
  <div class="overlayimg"></div>

<div class="col-10 col-center-block">

<p class="carousel-text top-text-p">Agriculture</p>

<h1 class="carousel-text top-text">{{objGrant?.title}}</h1>

<button *ngIf="!loading" (click)="applyNow()" class="btn-full" type="button" name="button">APPLY NOW &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
<button  *ngIf="loading" class="btn-full" type="button" name="button"><div class="donut"></div></button>

</div>

</div>

<!-- Header Picture -->


<!-- Announcement Section -->

<div id="announcement-section" class="col-10 col-center-block announcement">

<div class="row">

<div class="col-12 col-center-block">

<div class="partners-header-cont">
  <div class="dash"></div>
  <h1 class="blue-text-header">ANNOUNCEMENT </h1>
  <br>
</div>


</div>


<div *ngFor="let x of objGrant?.announcements"class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-center-block">

<p class="colordarkgery" [innerHTML]="x"></p>

</div>
</div>
</div>

<!-- Announcement Section -->

<div *ngFor="let grant of objGrant?.sections" class="col-10 col-center-block announcement boxshadow">

<div class="col-12 section-header">

<h3>{{grant?.title}}</h3>

</div>


<div *ngIf="!textLodaing" class="col-12 section-textt">
  <div *ngFor="let x of grant?.content">
    <div *ngIf="x !== '\r'">
  <img *ngIf="x !== ''" class="point" src="assets/green-arrow.png" width="20px"/><p>{{x}}</p>
  </div>
  </div>
</div>

<div *ngIf="textLodaing" class="col-12 section-textt">
  <div class="card-container">

    <div class="card">
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>


      </div>
    </div>

  </div>
</div>

</div>


<!-- <div class="col-10 col-center-block announcement boxshadow">

<div class="col-12 section-header">

<h3>RESEARCH PRIORITIES</h3>

</div>


<div *ngIf="!textLodaing" class="col-12 section-textt">

  <div *ngFor="let x of objGrant?.priorities">
    <div *ngIf = "x !== '\r'">
      <img *ngIf="x!=''" class="point" src="assets/green-arrow.png" width="20px"/><p>{{x}}</p>
    </div>
  </div>
  <p class="green-text">Note: The COEA assures that it will maintain privacy and conﬁdentiality of applicant’s personal information and data provided in the scholarship application</p>


</div>

<div *ngIf="textLodaing" class="col-12 section-textt">
  <div class="card-container">

    <div class="card">
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>


      </div>
    </div>

  </div>
</div>


</div> -->


<!-- <div class="col-10 col-center-block announcement boxshadow">

<div class="col-12 section-header">

<h3>THE APPLICATION PROCESS</h3>

</div>


<div *ngIf="!textLodaing" class="col-12 section-textt">
<div *ngFor="let x of objGrant?.process">
  <div *ngIf = "x !== '\r'">
    <img *ngIf="x!=''" class="point" src="assets/green-arrow.png" width="20px"/><p>{{x}}</p>
  </div>
  </div>

  <p class="green-text">See details under previous section “Guidelines for COEA Scholarships”</p>

</div>

<div *ngIf="textLodaing" class="col-12 section-textt">
  <div class="card-container">

    <div class="card">
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>


      </div>
    </div>

  </div>
</div>

</div> -->


<!-- <div class="col-10 col-center-block announcement boxshadow">

<div class="col-12 section-header">

<h3>SUBMISSION OF CONCEPT NOTES</h3>

</div>


<div *ngIf="!textLodaing" class="col-12 section-textt">
<div *ngFor="let x of objGrant?.concept_notes">
  <div *ngIf = "x !== '\r'">
    <img *ngIf="x!=''" class="point" src="assets/green-arrow.png" width="20px"/><p>{{x}}</p>
  </div>
  </div>

</div>

<div *ngIf="textLodaing" class="col-12 section-textt">
  <div class="card-container">

    <div class="card">
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG title-line"></div>


      </div>
    </div>

  </div>
</div>

</div> -->
<div class="row">
  <p class="col-center-block  announcement1 ">For more information, please visit our <a [routerLink] = "['/faq',objGrant?.id]">FAQs</a> page or contact us at <a href="ets@coeag.org">ets@coeag.org </a></p>
</div>


<div *ngIf="!loading" class="apply-now-cont">

  <button class="apply-now" type="button" name="button" (click)="applyNow()">APPLY NOW &nbsp;<img  src="assets/images/arrow white.svg" class="arrowwhite"></button>
</div>


<div  *ngIf="loading"   class="apply-now-cont">

  <button class="apply-now" type="button" name="button"><div class="donut"></div> </button>
</div>
<button [routerLink] = "['/faq',objGrant?.id]" class="buttonfixed animation " style=""><i class="fa fa-question questionmark" aria-hidden="true"></i>FAQs</button>
<app-footer></app-footer>
