.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

p { text-align: justify;}
.custom-file-label::after{
  color: transparent;
  width: 0;
  padding: 0
}
.font1{
  font-family:'Proxima-Nova-Bold';
}


.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/header-2.jpg) no-repeat;
background-size:cover;
width: 100%;
height:400px;
margin-right: 0px !important;
margin-left: 0px !important;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #fff; margin-top : 0px; font-weight: bold; }
.top-text-p { font-family: Proxima-Nova-Bold !important; color: #fff; margin-top : 120px; font-weight: bold; }

.btn-full {
position: absolute;
left: 0;
margin-top: 25px;
margin-left: 15px;
background: transparent;
border: 1px solid white;
padding: 10px;
color: white;
width: 150px;
}

.dash {
    width: 75px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;
    margin-right: 10px;
}

.blue-text-header { color: #002f6c; font-family: Proxima-Nova-Bold; font-weight: bold; }

.header-text { margin-top: 50px;}

#announcement-section { margin-top: 100px; }

.announcement {  -moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
-webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
padding-bottom: 50px;
margin-bottom: 50px;
padding-right: 0px;
}

.section-header { background-color: #002f6c; height: 75px; color: white; padding-top: 20px; margin-bottom: 50px;}

.section-header h2 { font-weight: bold; }

.point { float: left; margin-right: 10px; margin-top: 5px;
margin-right: 5px;
margin-bottom: 20px;}

.point-list { margin-left: 40px; list-style: none; }

.point-list::before {
  content: "\2022";
  color: #14772a;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  margin-left: -1em;
}
.overlayimg{
  background-color: #00000061;
  position: absolute;
  width: 100%;
  height: 400px
}
.green-text { color: #14772a; margin-top: 20px; margin-left: 30px;}

.apply-now { background: #14772a; width: 300px; margin-bottom: 40px; border: none; height: 50px; color: white;}

.apply-now-cont { width: 300px; margin: 0 auto; }

.button {
      background-color:#14772a;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      height: 35px;
      border-radius: 0px;
      cursor: pointer;
      width: 150px;
 }
 .button2 {
      background-color:#14772a;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      height: 40px;
      border-radius: 0px;
      cursor: pointer;
      width: 150px;
      margin-bottom: 50px;
      text-align: -webkit-center;
 }
 .centered {
     position: absolute;
     top: 50%;
     left: 50%;
    transform: translate(-90%, -50%);
     color: white;
     font-size: 25px;
     font-weight: bolder }

     .goldboarder {
      border-bottom: 4px solid #14772a;
          text-align: center;
          color: transparent;
          height: 5px;
          border-color: #14772a;
          font-size: 21px;
          margin-top: 40px;
   }
   .longinput{
     background-color:#eaeaea;
      height: 130px;
   }
   .x{
     padding-right: 0px
     }
   .y{
     padding-left: 0;
     }
     .z{
      border-radius: 0;
    border: 0;
 }
.mediaicons{
     color: #ffffff;
     font-size: 30px;
     padding: 20 20 0 20 ;
   }

.form-control::placeholder {
 color: black;
 opacity: 1;
}

.form-control-sm{
     border-radius: 0px;
   border: none;
   height: 40px;
}

.zeropadding{
 padding: 0px 30px 0px 0px
}

.select {
   word-wrap: normal;
   height: 40px;
   width: 100%;
   background-color: #eaeaea;
   border-color: transparent;
 }


 input[type="file"] {
     display: none;
 }

 .custom-file-label {

     background-color:#eaeaea;
     color: #000;
     display: inline-block;
     padding: 6px 6px;
     cursor: pointer;
     width: 97%;
     border-radius: 0;
     font-size: 13px;
     height: 42px;

 }
.custom-file-label .fa{
  color: #14772a;
}

 .capatcha { width: 310px; margin: 0 auto; margin-bottom: 50px; }

    .logo{
   width: 120px;
    height: 90px;
    margin-left: 100px;
    }

 .button {
       background-color:#14772a;
       border: none;
       color: white;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 15px;
       height: 35px;
       border-radius: 0px;
       cursor: pointer;
       width: 150px;
  }
  .button2 {
       background-color:#14772a;
       border: none;
       color: white;
       text-align: -webkit-center;
       text-decoration: none;
       display: inline-block;
       font-size: 15px;
       height: 40px;
       border-radius: 0px;
       cursor: pointer;
       width: 150px;
  }
  .marginlabel{
    margin-left: 15px;
  }
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
     transform: translate(-90%, -50%);
      color: white;
      font-size: 25px;
      font-weight: bolder }

      .goldboarder {
       border-bottom: 4px solid #14772a;
           text-align: center;
           color: transparent;
           height: 5px;
           border-color: #14772a;
           font-size: 21px;
           margin-top: 27px;
    }
    .longinput{
      background-color:#eaeaea;
       height: 130px;
    }
    .x{
      padding-right: 0px
      }
    .y{
      padding-left: 0;
      }
      .z{
       border-radius: 0;
     border: 0;
  }
.mediaicons{
      color: #ffffff;
      font-size: 30px;
      padding: 20 20 0 20 ;
    }
    .form-control::placeholder {
  color: black;
  opacity: 1;
}
.form-control-sm{
      border-radius: 0px;
    border: none;
    height: 40px;
}
.zeropadding{
  padding: 0px 30px 0px 0px
}
.select {
    word-wrap: normal;
    height: 40px;
    width: 100%;
    background-color: #eaeaea;
    border-color: transparent;}
    .topmargin{
      margin-top: 40px;
    }
    .topmarginn{
      margin-top: 20px;
    }
    input[type="file"] {
     display: none;
 }
 .custom-file-upload {
     border: 1px solid #14772a;
     background: #14772a;
     color: white;
     display: inline-block;
     padding: 7px 0px;
     cursor: pointer;
     width: 100%;
     text-align: center;
     height: 42px;

 }

 .nameandid{
  background-color:#eaeaea ;
  width: 260px;
 }
 /* ------ spinner --------*/
 .donut {
   width: 22px;
   height: 22px;
   border-radius: 50%;
   border: 4px solid rgba(151, 159, 208, 0.3);
   border-top-color: #fff;
   -webkit-animation: 1.5s spin infinite linear;
   animation: 1.5s spin infinite linear;
 }
 .pagemargin{
  margin: 60px 40px 0px 40px;
 }
 .page2margin{
  margin: 60px 120px 0px 160px;
 }


 @-webkit-keyframes spin {
   to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }

 @keyframes spin {
   to {
     -webkit-transform: rotate(360deg);
             transform: rotate(360deg);
   }
 }


 /* ------ spinner --------*/

 @media screen and (max-width: 1200px) {
  .margintop{
    margin-top: 20px;
  }
    .topmarginn2{
      margin-top: 20px;
    }
 }
 @media screen and (max-width: 1088px) {
  .checkbox{
    font-size: 15px;
  }
.custom-file-label {
   background-color: #eaeaea;
    color: #000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 95%;
    border-radius: 0;
    height: 84%;
 }
     .topmarginn2{
      margin-top: 20px;
    }
.nameandid{
  background-color:#eaeaea ;
  width: 150px;
 }
  .margintop{
    margin-top: 20px;
  }
  .row{
    margin-left: 0px
  }
p { text-align: justify;
    margin-right: 30px;
    }
   .c{
    padding: 0px
   }
   .custom-file-upload {
    border: 1px solid #14772a;
    background: #14772a;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    width: 80%;
    text-align: center;
    font-size:13px;
    }
    .v{
      padding: 0 30px 0 0;
    }
     .custom-file-label {
      font-size: 12px;
    }

 }
  @media screen and (max-width: 992px) {
  .page2margin{
    margin: 60px 120px 0px 120px
  }
    .pagemargin{

  margin: 60px 20px 0px 20px;
 }
  .marginlabel {
    margin-left: 0;
  }

.custom-file-label {
   background-color: #eaeaea;
    color: #000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 0;
    height: 84%;
 }
  }
 @media screen and (max-width: 575px) {
.page2margin{
    margin: 60px 60px 0px 60px
  }
  .margintop{
    margin-top: 20px;
  }
  .row{
    margin-left: 0px
  }
p { text-align: justify;
    margin-right: 30px;
    }
   .c{
    padding: 0px
   }
   .custom-file-upload {
    border: 1px solid #14772a;
    background: #14772a;
    color: white;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 80%;
    text-align: center;
    }
    .v{
      padding: 0 30px 0 0;
    }
  }
 .button2grey {
      background-color:#eaeaea;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      height: 40px;
      border-radius: 0px;
      cursor: pointer;
      width: 150px;
      margin-bottom: 50px;

 }

 /* .buttonfixed {
    background-color: #14772a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    width: 55px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 6px 4px 1px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.questionmark{
  width: 70%;
  font-size: 23px;
} */
 .Red{
   border: 1px solid #f44336 !important;
 }
