<app-header></app-header>

<!-- Header Picture -->

<div class="row up top-pic">
<div class="overlayimg"></div>
<div class="col-10 col-center-block">

<p class="carousel-text top-text-p">Agriculture</p>

<h1 class="carousel-text top-text">{{objGrant?.title}}</h1>

<!-- <button routerLink="/scholarship" class="btn-full" type="button" name="button">APPLY NOW</button> -->

</div>

</div>

<!-- Header Picture -->

<!-- Begin form -->

<form  [formGroup]="aFormGroup1">
   <div class="pagemargin">

<div class="row" style="margin-top: 50px">

  <div class="col-10 col-center-block">

     <div class="row">
    <div class="col-12 zeropadding">
      <p style="font-size: 60px;font-family:KHAND-REGULAR">APPLICATION</p>
    </div>
  </div>
    <div class="row" >

      <div class="col-1 zeropadding goldboarder">

      </div>
        <div class="col-2">
          <p style="font-size: 60px; color: #002f6c;font-family:KHAND-BOLD;margin: -30px 0 0 0;">&nbsp;FORM</p>
        </div>


    </div>

<div class="row header-text">

<p class="font1">PERSONAL INFORMATION</p>

</div>


<div class="row margintop">
  <div class="col-xl-4 margintop  zeropadding ">
    <label>Family Name*</label>
    <input [ngClass]="{ 'Red': f.Family_Name.invalid && submitted}" formControlName="Family_Name" [(ngModel)] = "applyReq.personal_info['Family Name']" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Family Name*" name="text1">

  </div>
  <div class="col-xl-4 margintop  zeropadding ">
    <label>First Name*</label>
    <input  [ngClass]="{ 'Red': f.First_Name.invalid && submitted}" formControlName="First_Name" [(ngModel)] = "applyReq.personal_info['First Name']" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="First Name*" name="text1">

  </div>

  <div class="col-xl-4 margintop  zeropadding ">
    <label>Middle Name*</label>
    <input [ngClass]="{ 'Red': f.Middle_Name.invalid && submitted}" formControlName="Middle_Name" [(ngModel)] = "applyReq.personal_info['Middle Name']" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Middle Name*" name="text1">
  </div>


</div>
<br>
<div class="row">
  <div class="col-xl-4 margintop zeropadding">
    <label>Date Of Birth*</label>
     <input  [ngClass]="{ 'Red': f.Date_Of_Birth.invalid && submitted}" formControlName="Date_Of_Birth" [(ngModel)] = "applyReq.personal_info['Date Of Birth']" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Date Of Birth*" name="text1" onfocus="(this.type='date')" onfocusout="(this.type='text')">
  </div>
  <div class="col-xl-4 margintop zeropadding">
    <label>Place Of Birth</label>
     <input formControlName="Place_Of_Birth" [(ngModel)] = "applyReq.personal_info['Place Of Birth']" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Place Of Birth" name="text1">
  </div>
  <div class="col-xl-4 margintop zeropadding">
    <label>Select Your Gender</label>
  <select formControlName="Gender" [(ngModel)] = "applyReq.personal_info['Gender']" class="select">
    <option value="" disabled="true" [selected]="!applyReq.personal_info['Gender']">Select your Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
  </div>

</div>
<br>
<br>
<div class="row">

<p class="font1">ADDITIONAL INFORMATION</p>
</div>
<div class="row">
    <div class="col-xl-6 margintop zeropadding">
      <label>Email Address</label>
    <input [ngClass]="{ 'Red': f.email.invalid && submitted}" formControlName="email" [(ngModel)] = "applyReq.email" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Email Address" name="text1">

  </div>

    <div class="col-xl-6 margintop zeropadding">
      <label>Phone</label>
    <input [ngClass]="{ 'Red': f.phone.invalid && submitted}" formControlName="phone" [(ngModel)] = "applyReq.phone" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Phone" name="text1">

  </div>

</div>
<br>

    <br>
<br>
<div class="row">

<p class="font1">PROJECT INFO</p>
</div>
<div class="row">


</div>
<div class="row">
    <div class="col-xl-4 margintop zeropadding">
      <label>Title of project</label>
    <input formControlName="title" [(ngModel)] = "applyReq.title" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Title of project" name="text1">

  </div>


  <div class="col-xl-4 margintop zeropadding">
    <label>Priority Research Area</label>
      <select formControlName="prcategory" [(ngModel)] = "prcategory" class="select" (change)="prsubCategoryGet()">
        <option value="" disabled="true" [selected]="prcategory == ''">Priority Research Area</option>
        <option *ngFor="let category of arrCategories" value="{{category?.id}}">{{category?.name}}</option>
  </select>

  </div>

    <div class="col-xl-4 margintop zeropadding">
      <label>Specific Search Topic</label>
      <select formControlName="prsubcategory" [(ngModel)] = "applyReq.prsubcategory" class="select">
        <option value="" disabled="true" [selected]="applyReq.prsubcategory == ''">Specific Search Topic</option>
        <option *ngFor="let cat of arrSubCategories" value="{{cat?.id}}">{{cat?.name}}</option>
  </select>

  </div>
</div>
<br>
<div class="row">
    <div class="col-xl-4 margintop zeropadding">
      <label>Project Duration (months)</label>
    <input formControlName="duration" [(ngModel)] = "applyReq.duration" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Project Duration (months)" name="text1">
    </div>


</div>
<br>
<br>
<div class="row">

<p class="font1">UNIVERSITY</p>
</div>
<div class="row">
    <div class="col-xl-4 margintop zeropadding">
      <label>Name of the Principal Investigator (PI)</label>
    <input [ngClass]="{ 'Red': f.pi_name.invalid && submitted}" formControlName="pi_name" [(ngModel)] = "applyReq.pi_name" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="Name of the Principal Investigator (PI)" name="text1">

  </div>
    <div class="col-xl-4 margintop zeropadding">
      <label>University PI Affiliated To</label>
      <select formControlName="pi_university" [(ngModel)] = "applyReq.pi_university" class="select">
        <option value="" disabled="true" [selected]="applyReq.pi_university == ''">University PI Affiliated To</option>
        <option value="excellent">Ain Shams University</option>
        <option value="v.good">Assiut University</option>
        <option value="good">Benha University</option>
        <option value="good">Cairo University</option>
        <option value="good">Suez Canal University</option>

  </select>

  </div>

  <div class="col-xl-4 margintop zeropadding">
    <label>University Position </label>
    <input  formControlName="university_position"  [(ngModel)] = "applyReq.university_position" type="text" class="form-control form-control-sm" style="background-color:#eaeaea" placeholder="University Position " name="text1">
  </div>

</div>

 <br>
<br>

<div class="row">

  <div class="col-12" style="padding: 0px">
<p class="font1">DOCUMENTS TO BE SUBMITTED</p>
<p>Please add all documents under the same category in one PDF (max PDF size 4MB)</p>
<div class="row rowmargin">
  <div class="col-lg-6 c">
    <div class="row">
        <div class="col-9 x c margintop">
                <label  class="custom-file-label marginlabel" >Names and contact information of Project Participants (optional) <i [hidden]="docsPusher['project_participants'] == null" class="fa fa-check"></i></label>
        </div>
        <div class="col-3 y margintop ">
          <label for="file0" class="custom-file-upload">
               Upload
          </label>
          <input style="display: none" formControlName="project_participants" (change)="docsUploadFunc($event,'project_participants')" id="file0"  type="file"/>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-9 x c">
                <label [ngClass]="{ 'Red': f.pi_cvs.invalid && submitted}" class="custom-file-label marginlabel" >Short CVs of PI <i [hidden]="docsPusher['pi_cvs'] == null" class="fa fa-check"></i></label>
        </div>
        <div class="col-3 y ">
          <label for="file1" class="custom-file-upload">
               Upload
          </label>
          <input formControlName="pi_cvs" (change)="docsUploadFunc($event,'pi_cvs')" id="file1" type="file"/>
        </div>
      </div>
      <br>

 </div>
 <div class="col-lg-6 c topmarginn2">
    <div class="row">
      <div class="col-9 x c ">
              <label [ngClass]="{ 'Red': f.concept_noted.invalid && submitted}" class="custom-file-label marginlabel" >3-page Concept Note <i [hidden]="docsPusher['concept_noted'] == null" class="fa fa-check"></i></label>
      </div>
        <div class="col-3  y ">
          <label for="file3" class="custom-file-upload">
               Upload
          </label>
          <input formControlName="concept_noted" (change)="docsUploadFunc($event,'concept_noted')" id="file3" type="file"/>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-9 x c">
                <label  class="custom-file-label marginlabel">Short CVs of other team leaders (optional)<i [hidden]="docsPusher['team_cvs'] == null" class="fa fa-check"></i></label>
        </div>
        <div class="col-3  y ">
          <label for="file4" class="custom-file-upload">
               Upload
          </label>
          <input formControlName="team_cvs" (change)="docsUploadFunc($event,'team_cvs')" id="file4" type="file"/>
        </div>
      </div>
      <br>

 </div>
    </div>
</div>
</div>
<br>
<div class="row">
  <div style="color: #14772a" class="col-12 zeropadding checkbox">
<input formControlName="disable"  (change)="changeCheck(disabledAgreement)" type="checkbox" name="vehicle1" value="Bike" [checked]="disabledAgreement" style="font-style: italic;"> I hereby certify that the above information is true and correct to the best of my knowledge. I understand that false statements and information may disqualify me for the scholarship.<br>
</div>
</div>

<div class="row margintop " style="margin-top: 40px;">


    <div class="col-3" style="padding: 0 15px 0 0;">
    <input [ngClass]="{ 'Red': f.signName.invalid && submitted}" formControlName="signName" [(ngModel)]="applyReq.sign_name" type="text" class="form-control form-control-sm x z" style="background-color:#eaeaea ; width: 100%" placeholder="Full name" name="text4"></div>

    <div class="col-3" style="padding: 0 0 0 15px ;">
    <input [ngClass]="{ 'Red': f.signID.invalid && submitted}" formControlName="signID" [(ngModel)]="applyReq.sign_id"  maxLength="14" onkeypress='return event.charCode >= 48 && event.charCode <= 57' type="text" class="form-control form-control-sm z" style="background-color:#eaeaea ; width: 100%;" placeholder="National ID" name="text4">
    </div>



</div>
<br>
<br>
<div class="row" style="text-align: center;">
  <div class="col-12">
    <button *ngIf="!loading" [disabled]="!disabledAgreement" [ngClass]="{ 'button2grey': !applyFlag && f }"  class="button2 " style="" (click)="uploadPhotos()">SUBMIT</button>

    <button *ngIf="loading"   class="button2 "  ><div class="donut"></div></button>

  </div>
</div>


</div>
</div>

<div  [ngClass]="{ 'Red': f && submitted}" class="capatcha">
<ngx-recaptcha2 #captchaElem
    [siteKey]="siteKey"
    (reset)="handleReset()"
    (expire)="handleExpire()"
    (error)="handleError()"
    (load)="handleLoad()"
    (success)="handleSuccess($event)"
    [useGlobalDomain]="false"
    [size]="size"
    [hl]="lang"
    [theme]="theme"
    [type]="type"
    formControlName="recaptcha">
  </ngx-recaptcha2>

  <!-- <button class="buttonfixed " style=""><i class="fa fa-question questionmark" aria-hidden="true"></i>FAQs</button> -->
  </div>

</div>
</form>

<!-- End Form -->

<!-- End Form -->
<app-footer></app-footer>
