<!-- The Modal -->
<div  id="loginpop" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">

<form [formGroup]="loginForm">
          <div class="row">

                  		<div class="col-md-12 col-sm-12 boxpadding">
                  			<button type="button" id="closerX20" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                  			<br><br>
          		            <h3 class="colorblue fontexbld"><b>LOGIN</b></h3>

          		            <div class="box">
          		            	<div class="row">

          						</div>
          		            	<div class="row email-field">
          							<div class="col-12">
          								<div [ngClass]="{ 'boxdetailsRed': f.email.errors && submitted}" class="boxdetails">
          									<img src="./assets/email.svg" width="30px" height="30px"  class="boxdetailsimg">
          									<input formControlName="email" type="email" name="email" placeholder=" Email Address" [(ngModel)]="loginReq.email">
          								</div>
          							</div>

          						</div>

          						<div class="row">
          							<div class="col-12">
          								<div [ngClass]="{ 'boxdetailsRed': f.password.errors && submitted }" class="boxdetails boxdetailspadding">
          									<img src="./assets/password.svg" width="30px" height="30px" class="boxdetailsimg">

          									<input formControlName="password" matInput placeholder=" Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="loginReq.password">
          								</div>


          							</div>

          						</div>


                      <div class="row">
          							<div class="col-12">
          							   <div class="forgot-password"><a >FORGOT PASSWORD?</a></div>
          							</div>
          						</div>

          		            </div>

          		            <div  class="signinbutt">
          		            	<button  *ngIf="!loading" id="signinBtn" (click)="login()" mat-raised-button><b>LOGIN</b></button>
                            <button  *ngIf="loading" id="signinBtn" mat-raised-button><div class="donut"></div></button>
          		            </div>
          		            <div class="orline">
          		            	<p class="background"><span>or</span></p>
          		            </div>

          		            <div >
          		            	<p class="signupgrey ">Don't have an account?  <a class="signupgrey cursorpointer" data-dismiss="modal" data-toggle="modal" data-target="#signup"><b> SIGN UP</b></a> </p>
          		            </div>

                          <p></p>

                  		</div>
                  	</div>
                    </form>


</div>
</div>
</div>
</div>
