<!-- The Modal -->
<div  id="submissionpopup" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">


          			<div class="row">

                  		<div class="col-md-12 col-sm-12 boxpadding">
                  			<div class="row" style="float: right;margin-top: 5px">
                  				<button type="button" id="closerX20" class="close"  data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                  			</div>
                  			<div class="row" >
                  				<div class="col-12" style="text-align: center;margin-top: 70px;">
          		            	<img src="assets/done.svg" class="rounded logo" alt="Cinque Terre" width="90px" height="90px">
								</div>
							</div>

							<div class="row">
								<div class="col-12" style="text-align: center;margin-top: 70px;font-size: 30px ;">
									<p style="color:#002f6c; font-weight: bolder;font-family: 'Proxima-Nova-EXBold';">THANK YOU</p>
								</div>
							</div>

							<div class="row">
								<div class="col-12" style="text-align: center;font-size: 15px">
									<p style="color:#afaeae;font-family: Proxima Nova Lt;">Your application has been sent successfully</p>
								</div>
							</div>
							
          		           <div class="row">
          		           		<div class="col-12" style="text-align: center;" >
          		           			<button class="button " style="margin-top: 40px;margin-bottom:50px;">DONE</button>
          		           		</div>
          		           </div>
						</div>
                  	</div>


</div>
</div>
</div>
</div>
