<!-- The Modal -->
<div  id="signup" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">

          <form [formGroup]="signupForm">
          <div class="row">

                  		<div class="col-md-12 col-sm-12 boxpadding">
                  			<button type="button" id="closer" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                  			<br><br>
          		            <h3 class="colorblue fontexbld"><b>SIGN UP</b></h3>
          		            <p>By Creating an account, you agree to COEA's</p>
          		            <p><a class="acolorgrey" data-dismiss="modal" routerLink="/privacy"><b>Privacy Policy</b> </a>  and  <a class="acolorgrey" data-dismiss="modal" routerLink="/terms"><b>Terms of Use</b></a></p>

          		            <div class="box">
          		            	<div class="row">

          							<div class="col-12">
          								<div [ngClass]="{ 'boxdetailsRed': f.name.errors && submitted}" class="boxdetails">
          									<img src="./assets/username.svg" width="30px" height="30px" class="boxdetailsimg">
          									<input formControlName="name"  maxLength="50" matInput [(ngModel)]="signupReq.name" name="" placeholder=" Name" required>
          								</div>
          							</div>

          						</div>
          		            	<div class="row">
          							<div class="col-12">
          								<div [ngClass]="{ 'boxdetailsRed': f.email.errors && submitted }" class="boxdetails">
          									<img src="./assets/email.svg" width="30px" height="30px" class="boxdetailsimg">
          									<input formControlName="email"  matInput [(ngModel)]="signupReq.email" name="" placeholder=" Email Address" required>
          								</div>
          							</div>

          						</div>

          						<div class="row">
          							<div class="col-12">
          								<div [ngClass]="{ 'boxdetailsRed': f.password.errors && submitted }" class="boxdetails boxdetailspadding">
          									<img src="./assets/password.svg" width="30px" height="30px" class="boxdetailsimg">

          									<input formControlName="password"  [(ngModel)]="signupReq.password" matInput placeholder=" Password" [type]="hide ? 'password' : 'text'" required>
          								</div>


          							</div>

          						</div>

          		            </div>

          		            <div  class="signinbutt">
          		            	<button  *ngIf="!loading" id="signupBtn" (click)="register()" mat-raised-button><b>SIGN UP</b></button>
                            <button  *ngIf="loading" id="signupBtn" mat-raised-button><div class="donut"></div></button>
          		            </div>
          		            <div class="orline">
          		            	<p class="background"><span>or</span></p>
          		            </div>

          		            <div >
          		            	<p class="signupgrey ">Already have an account?  <a class="signupgrey cursorpointer"  data-toggle="modal" data-target="#loginpop" data-dismiss="modal"><b> SIGN IN</b></a> </p>
          		            </div>

                          <p></p>

                  		</div>
                  	</div>
                    </form>

</div>
</div>
</div>
</div>
<app-login></app-login>
