/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Proxima-Nova';
    src:url(assets/fonts/pn-regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima-Nova-Bold';
    src:url(assets/fonts/pn-bold.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima-Nova-EXBold';
    src:url(assets/fonts/ProximaNova-Extrabold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Proxima Nova Lt;
    src:url(assets/fonts/ProximaNova-LightItalic.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: KHAND-BOLD;
    src:url(assets/fonts/KHAND-BOLD.TTF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: KHAND-LIGHT;
    src:url(assets/fonts/KHAND-LIGHT.TTF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: KHAND-REGULAR;
    src:url(assets/fonts/KHAND-REGULAR.TTF);
    font-weight: normal;
    font-style: normal;
}
body { font-family: Proxima-Nova !important; overflow-x: hidden; width: 100%;}