<app-header></app-header>

<div class="backgroundgrey">

  <div class="row up top-pic">

  <div class="col-12 col-center-block">

    <div class="col-10 col-center-block">

    <h1 class="carousel-text top-text">CENTER OF EXCELLENCE <br>FOR AGRICULTURE</h1>

    <button routerLink="/who-we-are" class="btn-full" type="button" name="button">LEARN MORE</button>

    </div>

  </div>

  </div>


  <!-- Our Partners -->

  <div class="row">
    <div class="col-10 col-center-block who-we-are">

  <div class="row">

  <div class="col-12 col-center-block">

  <div class="partners-header-cont">
    <h1 class="black-text-header">OUR GRANTS</h1>


  </div>


  </div>
  </div>
  </div>
  </div>

  <div class="row">


  <div *ngIf="!textLodaing" id="partners-col" class="col-10 col-center-block">


  <div *ngFor="let grant of arrGrants" class="col-lg-3 programs-cont">

    <div class="programs">

    <p class="padding category">{{grant?.status}}</p>

    <h5 class="padding bolder fonth5">{{grant?.title}}</h5>

    <p class="padding text-programs fontp colorgrey" [innerHTML]="grant?.announcements | slice:0:400"> </p>
    <div class="btn-programs">
    <button [routerLink] = "['/announcement',grant?.id]"class="apply-now" type="button" name="button">READ MORE</button>
    </div>


  </div>
  </div>

    </div>


<div *ngIf="textLodaing" id="partners-col" class="col-10 col-center-block" >


  <div class="col-lg-3 programs-cont" >

    <div class="programsloding">

<div  class="card-container">

    <div class="card">
      <div class="p-32">
        <div class="shimmerBG title-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>
        <div class="shimmerBG content-line"></div>


      </div>
    </div>

  </div>


  </div>
  </div>






</div>


  </div>
</div>

<!-- Our Partners -->


<app-footer></app-footer>
