.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.up {margin-top: -30px;}

.top-pic{
background: url(../../assets/images/1.jpg) no-repeat;
background-size:cover;
height:500px;
}

.top-text { font-family: Proxima-Nova-Bold !important; color: #eaeaea; margin-top : 150px; font-weight: bold; }


.slider-cap { bottom: auto !important; top: 20% !important; right: auto !important; left: 10% !important;}

.carousel-text {text-align: left; font-weight: bold; font-family: Proxima-Nova-Bold !important;}

.btn-full {
position: absolute;
left: 0;
margin-top: 25px;
margin-left: 15px;
background: transparent;
border: 1px solid white;
padding: 10px;
color: white;
width: 150px;
}
.btn-full:hover {
  background: #fff;
  color: #14772a;
}
.who-we-are { margin-top: 100px;}

.who-we-are-text {text-align: justify; font-size: 14px;}

.dash {width: 101px;
  height: 37px;
  border-bottom: 4px solid #14772a;
  float: left;
  margin-right: 6px;
}

.btn-green {

height: 40px;
width: 150px;
background: #14772a;
color: #ffffff;
border: none;
font-weight: bold;

}

.partners-header-cont { width: 360px; margin: 0 auto; margin-bottom: 50px;}

.contact-us { background : #011f3b; margin-top: 50px; padding-top: 100px; padding-bottom: 100px;}

.contact-text {color: #eaeaea;}

.dash-contact {
    width: 150px;
    height: 40px;
    border-bottom: 5px solid #14772a;
    float: left;}

.contact-field {width: 100%; height: 50px; margin-bottom: 30px; padding-left: 20px;}

.contact-message {width: 100%; height: 150px; padding-left: 20px;}

.who-we-are-cont { padding-bottom: 30px;}

.contact-icon { list-style: none; margin-bottom: 20px; width: 30px; float: left; margin-top: 5px;}

.contact-icon img { float: left; padding-right: 10px; }

.contact-icon a { color: white; float: left; text-align: justify; }

.contact-texter { color: white; float: left; text-align: justify; width: 80%; }

.bold-header { font-family: Proxima-Nova-Bold; font-weight: bold;}
.black-text-header{
  font-family: KHAND-REGULAR;
  font-size: 55px;
}

.blue-text-header { color: #002f6c; font-family: 'Proxima-Nova-EXBold'; font-weight: bold;}

.partners-img { padding: 10px; }

.partners { margin-top: 60px; }


#partners-col { margin-bottom: 50px;}

.programs { float: left;
  padding: 14px 8px 14px 8px;
  background: #fff;
  -moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  width: 100%;
  border: 1px solid transparent;
  height: 100%;
  margin-bottom: 25px;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.text-programs { font-size: 11px;
/*text-align: justify; */
}

.btn-programs { width: 150px; margin: 0 auto;     justify-content: flex-end; display: flex;}

.padding { padding-left: 10px; padding-right: 10px;}

.bolder { font-weight: bold;}

.contact-btn { float: right; margin-top: 30px; }

.apply-now { border: 1px solid #14772a; color: #14772a; height: 40px; margin-bottom: 2px; width: 150px;
font-weight: bold; background: #fff;
}

.apply-now:hover { background: #14772a; color: white;}

.programs:hover { border: 1px solid #14772a; }

.programs-cont { float: left; height: 100%;}


/* coming soon content */


.mainMenuItem {
  height: 45px;
  padding-right: 20px;
  padding-left: 20px;
}


.mainMenuItem a {color: #eaeaea; font-weight: bold;}

.mainMenuItem :hover {color: #eaeaea; font-weight: bold;}

.social { padding-top: 12px !important; color: #eaeaea; text-decoration: none;

  height: 50px;
  margin: 0 auto;

}

.social:hover { color: #fff; }

.blue-bg {background-color: #002f6c;}

.navbar-nav .dropdown-menu {
    background: #002f6c !important;
}

.navbar-social {
    width: 240px;
    float: right;
}

.dropdown-item:hover {

  color : #002f6c !important;

}

.dropdown-toggle { color :  #eaeaea !important;}


.active { border-bottom: 3px solid #eaeaea; height: 55px; color : #eaeaea !important;}

.active .col-sm { border-bottom: none; height: 55px;}


.cool-link { display:inline-block; margin-bottom: 0px; }

.cool-link:after {
  display:block;
  content: '';
  border-bottom: 3px solid #fff;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.cool-link:hover:after { transform: scaleX(1); }

.cool-link.fromRight:after{ transform-origin:100% 50%; }

.cool-link.fromLeft:after{  transform-origin:  0% 50%; }

.nav-link { padding-bottom: 20px; }

.less-padding { padding-left: 10px !important; padding-right: 10px !important;}

.liner { padding-left: 20px;}


.category{
  font-family: Proxima Nova Lt;
  color: #afaeae;
  font-size: small;
  margin-bottom: 0;

}
.colorgrey{
  color: #afaeae;
}
.fonth5{
  font-size: 15px;
  font-family: 'Proxima-Nova-Bold';
}
.fontp{
  font-size: 12px;
  font-family: 'Proxima-Nova';
}
.backgroundgrey{
  background: #f7f7f7;
}


/* ----------------- shimmer ----------------*/
.card-container {
  position: relative;
}
.card-container .card {
  border: none;
  background: transparent;
}
/*.card-container .card:nth-child(2) {
  top: 160px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.card-container .card:nth-child(1) {
  top: 180px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}*/
.card-container .card .shimmerBG {

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #dde9eb;
  background: linear-gradient(to right, #dde9eb 4%, #bbc6c7 35%, #dde9eb 36%);
  background-size: 1200px 100%;

}
@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
.card-container .media {
  height: 283px;
  border-radius: 5px;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}
.card-container .p-32 {
  /*padding: 32px;*/
}
.card-container .title-line {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  height: 24px;
  width: 60%;
  margin: 15px 0px 23px 0;
  border-radius: 0px;
}
.card-container .content-line {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  height: 16px;
  width: 98%;
  margin: 15px 0px 18px 0;
  border-radius: 0px;
}
.card-container .end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}



.programsloding { float: left;
  padding: 14px 8px 14px 8px;
  background: #fff;
  -moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.25);
  width: 98%;
  border: 1px solid transparent;
  margin-bottom: 25px;
}


/* ----------------- shimmer ----------------*/





/* ------------ media  ----------------- */
@media (max-width: 992px) {
  .programs-cont {
    height: auto;
  }
  .programs {
    height: auto;
  }

}



@media (max-width: 767px) {

  .nav-link:hover{ border-bottom: none;}

  .active{ border-bottom: none; height: 55px;}

  .liner { display: none;}

}
@media screen and (max-width: 500px) {
  h1{
    font-size: 33px !important;
  }

  .navbar-separator {
    padding-left: 16px;
    width: 1px;
    float: right;
    padding-top: 7px;
    padding-right: 17px;
  }
  .navbar-register {
    width: 105px;
    padding-top: 7px;
    font-weight: bold;
    float: right;
    padding-right: 13px;
    margin-right: 5px;
  }
  .navbar-username {
    width: auto;
    padding-top: 7px;
    font-weight: bold;
    float: left;
    padding-left: 16px;
  }
  .black-text-header{
    font-size: 42px !important;
  }
  .dash {
    width: 60px;
    height: 33px;
  }


}
